/.idea/
/SM-POST/Post.Cmd/Post.Cmd.Api/bin/
/SM-POST/Post.Cmd/Post.Cmd.Api/obj/
/SM-POST/Post.Cmd/Post.Cmd.Domain/bin/
/SM-POST/Post.Cmd/Post.Cmd.Domain/obj/
/SM-POST/Post.Cmd/Post.Cmd.Infrastructure/bin/
/SM-POST/Post.Cmd/Post.Cmd.Infrastructure/obj/
/SM-POST/Post.Common/bin/
/SM-POST/Post.Common/obj/
/SM-POST/Post.Query/Post.Query.Api/bin/
/SM-POST/Post.Query/Post.Query.Api/obj/
/SM-POST/Post.Query/Post.Query.Domain/bin/
/SM-POST/Post.Query/Post.Query.Domain/obj/
/SM-POST/Post.Query/Post.Query.Infrastructure/bin/
/SM-POST/Post.Query/Post.Query.Infrastructure/obj/
